@import 'normalize.css';

* {
  box-sizing: border-box;
}

ul, ol {
  list-style-type: none;
  padding-inline-start: 0;
  margin: 0;
}

.nav li {
  display: inline-block;
  margin: 0 15px;
}

:root {
  color: #ffffff;
}

.container {
  width: 100vw;
  /*width: 1900px;*/
}

.header {
  display: flex;
  flex-direction: row;
  height: 70px;
  background-color: #1d2124;
  align-items: center;
  justify-content: space-between;
}

.header-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-logo {
  width: 70px;
  height: 70px;
  background-color: #1a1d20;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-left-logo {
  width: 27px;
  height: 27px;
}

.header-text {
  font-size: 22px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #ffffff;
  text-transform: capitalize;
  margin-left: 6px;
}

.header-nav-text {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
  text-align: left;
}

.search-icon {
  width: 68px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #171a1c;
}

.latest-news {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/header-bg.jpeg);
  background-position: bottom;
  background-attachment: fixed;
  height: 370px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.latest-news-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.latest-news-title {
  color: #ffffff;
  font-size: 27px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 44px;
}

.latest-news-button {
  display: flex;
  justify-content: space-between;
  width: 360px;
}

.button {
  width: 170px;
  height: 55px;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  color: #ffffff;
  text-transform: capitalize;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
}

.subscribe {
  background-color: #89ca62;
}

.articles {
  background-color: #14b9d5;
}

.popular-posts {
  height: 1030px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popular-posts-title {
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 27px;
  color: #18b4cf;
  margin-bottom: 52px;
}

.popular-posts-gallery-wrapper {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  width: 1170px;
}

.gallery-wrapper {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.gallery-item {
  width: 370px;
  margin: 0 0 31px 0;
}

.gallery-item-pic {
  vertical-align: middle;
}

.gallery-item-caption {
  line-height: 61px;
  text-align: center;
  background-color: #ffffff;
  color: #353a3d;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  text-transform: capitalize;
}

.popular-clients {
  height: 590px;
  background-image: url(../img/parallax-bg.jpeg);
  background-attachment: fixed;
  background-position: center;
  display: grid;
  grid-template-rows: 2fr 1fr 2fr;
  grid-template-columns: 1fr;
}

.popular-clients-heading {
  color: #ffffff;
  font-size: 32px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  align-self: self-end;
  text-align: center;
  margin: 0;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.popular-clients-divider {
  background-color: #169cb4;
  /*display: inline-block;*/
  width: 60px;
  height: 3px;
  justify-content: space-around;
  align-content: center;
}

.logos-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.popular-clients-logos {
  justify-self: center;
  width: 881px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-rated {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 136px auto;
}

.top-rated-heading {
  color: #18b4cf;
  font-size: 27px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  grid-column: 1/8;
  align-self: center;
  justify-self: center;
}

.top-rated-img {
  width: calc(100vw/7);
}

/*Hot news section*/
.hot-news {
  margin-bottom: 28px;
  display: grid;
  grid-row-gap: 42px;
  grid-template-columns: 1fr 1170px 1fr;
  grid-template-rows: 90px 259px auto auto auto;
  grid-template-areas:
      "lside head rside"
      "lside top rside"
      "lside middle rside"
      "lside bottom rside";
}

.hot-news-item-heading {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-align: right;
  color: #353a3d;
}

.hot-news-item-description {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  color: #7b8185;
  text-align: right;
}

.hot-news-item-heading-2 {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-align: center;
  color: #353a3d;
}

.hot-news-heading {
  font-size: 27px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #18b4cf;
  justify-self: center;
  align-self: end;
  grid-area: head;
  margin: 0;
}

.hot-news-top-grid {
  grid-area: top;
  display: grid;
  grid-template-columns: 856px 277px;
  grid-column-gap: 35px;
}

.hot-news-top-left {
  display: flex;
}

.top-left-description {
  padding: 41px 24px 37px 30px;
  background-color: #f9f7f7;
}

.hot-news-top-right {
  display: flex;
  flex-direction: column;
}

.heading-2-wrapper {
  height: 48px;
  background-color: #f9f7f7;
}

.hot-news-main-grid {
  grid-area: middle;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
      "top-left top-right-right"
      "bottom-left bottom-right";
  grid-column-gap: 60px;
  grid-row-gap: 43px;
}

.hot-news-main-grid-item {
  display: flex;
  flex-direction: column;
  width: 554px;
}

.top-left {
  grid-area: top-left;
}

.top-right-right {
  grid-area: top-right-right;
}

.bottom-left {
  grid-area: bottom-left;
}

.bottom-right {
  grid-area: bottom-right;
}

.main-grid-description-top {
  padding: 20px 27px 21px 22px;
  background-color: #f9f7f7;
}

.main-grid-description-bottom {
  padding: 21px 27px 18px 22px;
  background-color: #f9f7f7;
}

.hot-news-bottom-grid {
  grid-area: bottom;
}

.hot-news-bottom-grid {
  grid-area: bottom;
  display: grid;
  grid-template-columns: 277px 856px;
  grid-column-gap: 35px;
}

.bottom {
  display: grid;
  grid-template-columns: 1fr 390px 390px 390px 1fr;
  grid-template-rows: 80px;
  background-color: #1d2124;
}

.bottom-copyrights {
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  grid-column: 2/4;
  justify-self: start;
  align-self: center;
}

.bottom-logo-wrapper {
  justify-self: end;
  display: flex;
  align-items: center;
  align-content: center;
}
